
/*Base styles*/
* {
	-webkit-overflow-scrolling: touch;
}

html {
	color: #293a3d;
	font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Segoe UI", "Open Sans", "Arial", sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	cursor: default;
}

::selection,
.container .container ::selection,
.container .container .container .container ::selection {
    background-color: rgba(128, 212, 169, 0.25);
}
	::-moz-selection,
	.container .container ::selection,
	.container .container .container .container ::selection {
	    background-color: rgba(128, 212, 169, 0.25);
	}
pre ::selection {
	background-color: rgba(172, 243, 206, 0.25);
}
	pre ::-moz-selection {
		background-color: rgba(172, 243, 206, 0.25);
	}
.container ::selection,
.container .container .container ::selection {
    background-color: rgba(255, 255, 255, 0.5);
}
	.container ::-moz-selection,
	.container .container .container ::-moz-selection {
	    background-color: rgba(255, 255, 255, 0.5);
	}

html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

form,
div,
a,
h1,
h2,
h3,
ul,
li {
	border-width: 0;
	border-color: #d5d8db;
	border-style: solid;
}



/*Typo*/
h1,
h2,
h3 {
	line-height: 1.4;
	text-transform: uppercase;
	font-weight: 600;
	color: #80d4a9;
}

h1 em,
h2 em,
h3 em {
	text-transform: none;
	font-style: inherit;
}

h2,
h3 {
	margin-top: 12%;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.6em;
	padding-top: 12%;
	border-top-width: 1px;
}

h3 {
	font-size: 1.2em;
}
@media screen and (min-width: 30em) {
	h1 {
		font-size: 3em;
	}
	h1,
	h2 {
		text-align: center;
	}
}
@media screen and (min-width: 70em) {
	h1 {
		font-size: 4em;
	}
}
@media screen and (min-width: 40em) {
	h2,
	h3 {
		margin-top: 8%;
	}
	h2 {
		padding-top: 8%;
	}
}

a {
	color: #11b7d4;
	text-decoration: none;
	border-color: rgba(57, 159, 177, 0.3);
	border-style: dashed;
	border-bottom-width: 1px;

	-webkit-transition-property: background-color, border-color, color;
	-moz-transition-property: background-color, border-color, color;
	-ms-transition-property: background-color, border-color, color;
	transition-property: background-color, border-color, color;

	-webkit-transition-duration: 125ms;
	-moz-transition-duration: 125ms;
	-ms-transition-duration: 125ms;
	transition-duration: 125ms;
}
	a:focus,
	a:hover {
		color: #80d4a9;
		border-bottom-color: #80d4a9;
	}

.button {
	display: inline-block;
	border-width: 0;
	padding: 0.8em 1.4em;
	background-color: #80d4a9;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8em;
	border-radius: 3px;
	text-align: center;

	-webkit-transition-duration: 750ms;
	-moz-transition-duration: 750ms;
	-ms-transition-duration: 750ms;
	transition-duration: 750ms;
}
	.button.block {
		display: block;
	}
	.button:focus,
	.button:hover {
		color: #fff;
		background-color: #5cccae;

		-webkit-transition-duration: 125ms;
		-moz-transition-duration: 125ms;
		-ms-transition-duration: 125ms;
		transition-duration: 125ms;
	}
	.button.share:focus,
	.button.share:hover {
		background-color: #55acee;
	}
	.share-buttons {
		padding-left: 26px;
	}
	.share-buttons a,
	.share-buttons div {
		display: inline-block;
		margin-left: 8px !important;
		margin-right: 8px !important;
	}



/*Decorations*/
body {
	background-color: #80d4a9;
}
.body {
	background-color: #fff;
}
.body-content {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	padding: 2% 6% 3em 6%;
}
.zigzag {
	display: block;
	clear: both;
	width: 100%;
	height: 1em;
	border-top-width: 1em;
	border-color: #80d4a9;

	background:
		linear-gradient(135deg, #80d4a9 25%, transparent 25%) 1em 0,
		linear-gradient(225deg, #80d4a9 25%, transparent 25%) 1em 0;
	background-size: 2em 2em;
	background-position: 50% 0;
}
	.zigzag.reverse {
		border-top-width: 0;
		border-bottom-width: 4em;
		background:
			linear-gradient(315deg, #80d4a9 25%, transparent 25%),
			linear-gradient(45deg, #80d4a9 25%, transparent 25%);
		background-size: 2em 2em;
		background-position: 50% -1em;
	}



/*Layout*/
.center {
	text-align: center;
}
.clear {
	clear: both;
}
@media screen and (max-width: 30em) {
	.extra {
		display: none;
	}
}
.half {
	float: left;
	clear: none;
	width: 48%;
}
	.half + .half {
		margin-left: 4%;
	}
	@media screen and (max-width: 30em) {
		.half code {
			font-size: 0.9em;
		}
	}
@media screen and (min-width: 46em) {
	pre,
	.pull {
		margin-left: -2em;
		margin-right: -2em;
	}
	h2 {
		margin-left: -1.25em;
		margin-right: -1.25em;
		padding-left: 1.25em;
		padding-right: 1.25em;
	}
}
@media screen and (min-width: 54em) {
	pre,
	.pull {
		margin-left: -6em;
		margin-right: -6em;
	}
	h2 {
		margin-left: -3.75em;
		margin-right: -3.75em;
		padding-left: 3.75em;
		padding-right: 3.75em;
	}
}



/*Code*/
pre {
	font-family: inherit;
	font-size: inherit;
	tab-size: 4;
}
code {
	background-color: #282b2e;
	color: #e0e2e4;
}
.hljs,
code {
	display: inline-block;
	border-radius: 3px;
	padding-left: 0.3em;
	padding-right: 0.3em;
}
pre code span {
	color: #e0e2e4;
	-webkit-transition-property: color, background-color;
	-moz-transition-property: color, background-color;
	-ms-transition-property: color, background-color;
	transition-property: color, background-color;
	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	-ms-transition-duration: 250ms;
	transition-duration: 250ms;
}
.hljs,
pre code {
	display: block;
	padding: 1em;
	overflow: auto;
}
pre code {
	border-radius: 3px;
	overflow: auto;
	max-height: 16em;
}
@media screen and (min-width: 54em) {
	.hljs,
	pre code {
		padding: 1.5em 2em;
	}
}



/*Readme adjustments*/

.readme .share-buttons {
	margin-top: 4%;
	text-align: center;
}

/*Download links*/

/*Hide link to this page*/
.readme > h1:first-of-type + p + p + p + p {
	display: none;
}

/*Hide unnecessary download help*/
/*.readme > h2:first-of-type + p,*/
.readme > h2:first-of-type + p + ul + p {
	display: none;
}

/*Download links*/
.readme > h2:first-of-type + p + ul {
	max-width: 32em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5em;
	padding-left: 0;
	list-style: none;
}
	.readme > h2:first-of-type + p + ul li {
		width: 48%;
		float: left;
		clear: none;
	}
	.readme > h2:first-of-type + p + ul li:first-of-type {
		margin-right: 4%;
	}
	.readme > h2:first-of-type + p + ul li a {
		display: block;
		border-width: 0;
		padding: 0.4em 0;
		background-color: #80d4a9;
		color: #fff;
		font-weight: bold;
		border-radius: 3px;
		text-align: center;
		font-size: 0.85em;

		-webkit-transition-duration: 750ms;
		-moz-transition-duration: 750ms;
		-ms-transition-duration: 750ms;
		transition-duration: 750ms;
	}
		.readme > h2:first-of-type + p + ul li a:focus,
		.readme > h2:first-of-type + p + ul li a:hover {
			color: #fff;
			background-color: #5cccae;

			-webkit-transition-duration: 125ms;
			-moz-transition-duration: 125ms;
			-ms-transition-duration: 125ms;
			transition-duration: 125ms;
		}
.readme > h2:first-of-type + p + ul + p {
	clear: both;
}
@media screen and (min-width: 30em) {
	.readme > h2:first-of-type + p + ul + p + pre {
		max-width: 18em;
		margin-left: auto;
		margin-right: auto;
	}
	.readme > h2:first-of-type + p,
	.readme > h2:first-of-type + p + ul + p,
	.readme > h2:first-of-type + p + ul + p + pre,
	.readme > h2:first-of-type + p + ul + p + pre + p,
	.readme > h2:first-of-type + p + ul + p + pre + p + p {
		text-align: center;
	}
}

/*Remove credits*/
.readme > h2:last-of-type,
.readme > p:last-of-type {
	display: none;
}



/*Demo containers*/
.container {
	padding: 10px 20px;
	display: block;
	font-weight: bold;
	border-radius: 3px;
}
@media screen and (min-width: 480px) {
	.container {
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media screen and (min-height: 640px) {
	.container {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.container p {
	margin-top: 0;
	margin-bottom: 0;
}
.container p + p {
	margin-top: 2em;
}

/*Background patterns*/
.container {
	color: #48534e;
	background-color: #9adebb;
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 20px, #aae8c8 20px, #aae8c8 40px);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, #aae8c8 20px, #aae8c8 40px);
}

.container .container {
	color: #fff;
	background-color: #393d42;
	background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 40px, #434950 40px, #434950 80px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 40px, #434950 40px, #434950 80px);
}
.container .container .container {
	color: #48534e;
	background-color: #ccf3df;
	background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 20px, #aae8c8 20px, #aae8c8 40px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 20px, #aae8c8 20px, #aae8c8 40px);
}
.container .container .container .container {
	color: #fff;
	background-color: #51575e;
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 40px, #434950 40px, #434950 80px);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 40px, #434950 40px, #434950 80px);
}



/*Container heights*/
.height-1,
.height-2,
.height-3,
.height-4 {
	overflow-y: auto;
}
.height-1 {
	height: 150px;
}

.height-2 {
	height: 200px;
}

.height-3 {
	height: 250px;
}

.height-4 {
	height: 300px;
}



/*Demo form*/
.dummyform {
	border-width: 1px;
	border-radius: 3px;
	padding: 0.5em 1.5em;
}
.dummyform-content {
	position: relative;
}
.dummyform ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;

	position: absolute;
	left: 0;
	width: 20em;
	max-width: 100%;
	max-height: 8em;
	overflow: auto;

	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 3px 1px rgba(40, 43, 46, 0.25);
}
.dummyform ul a {
	display: block;
	padding: 0.4em 0.7em;
	border-bottom-width: 1px;
	border-color: #e1e3e5;
	border-style: solid;
}
	/*.dummyform ul a:focus,*/
	.dummyform ul a:hover {
		color: #11b7d4;
		background-color: rgba(40, 43, 46, 0.03);
	}
	.dummyform ul li:last-of-type a {
		border-bottom-width: 0;
	}



/*Demo modal*/
.modal {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}
	.modal.closed {
		display: none;
	}
.modal-overlay {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;

	-webkit-transition: background-color 1000ms;
	-moz-transition: background-color 1000ms;
	-ms-transition: background-color 1000ms;
	transition: background-color 1000ms;
}
	.modal-overlay:hover {
		background-color: rgba(0, 0, 0, 0.6);

		-webkit-transition-duration: 125ms;
		-moz-transition-duration: 125ms;
		-ms-transition-duration: 125ms;
		transition-duration: 125ms;
	}
.modal-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	position: fixed;
	z-index: 2;
	overflow: auto;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 30em;
	max-height: 90%;
	background-color: #fff;
	border-radius: 3px;
	padding: 0.5em 1em;
	box-shadow: 0 1px 2px rgba(40, 43, 46, 0.25);
}
@media screen and (min-height: 40em) {
	.modal-content {
		top: 10%;
		max-height: 80%;
	}
}
@media screen and (min-width: 40em) {
	.modal-content {
		left: 10%;
		width: 80%;
		padding: 1.5em 2em;
	}
}
@media screen and (min-width: 70em) {
	.modal-content {
		left: 20%;
		width: 60%;
	}
}
@media screen and (min-width: 100em) {
	.modal-content {
		left: 30%;
		width: 40%;
	}
}



/*Wrapup*/
.footer {
	margin-left: auto;
	margin-right: auto;
	line-height: 1;
}
.footer a {
	display: inline-block;
	border-bottom-width: 0;
}
.footer img {
	display: inline-block;
	max-width: 100%;
	max-height: 3em;
	border-radius: 4em;
	vertical-align: middle;
}
.footer ul {
	padding-left: 0;
	list-style: none;
}
.footer li:nth-of-type(2n) {
	line-height: 3em;
}
	.footer li {
		box-sizing: border-box;
		display: inline-block;
		width: 20%;
	}
	.footer li:first-of-type {
		padding-right: 0.5em;
		text-align: right;
	}
	.footer li:last-of-type {
		padding-left: 0.5em;
		text-align: left;
	}
	.footer li:first-of-type,
	.footer li:last-of-type {
		padding-top: 0.5em;
		width: 40%;
	}
	.footer li:first-of-type a,
	.footer li:last-of-type a {
		padding: 0.5em;
	}
	@media screen and (min-width: 30em) {
		.footer img {
			max-height: 4em;
		}
		.footer li:nth-of-type(2n) {
			line-height: 4em;
		}
		.footer li:first-of-type,
		.footer li:last-of-type {
			padding-top: 1em;
		}
	}
