
/*Base styles*/
* {
	-webkit-overflow-scrolling: touch;
}

html {
	color: #293a3d;
	font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Segoe UI", "Open Sans", "Arial", sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.body {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	padding: 2% 6% 8% 6%;
}

form,
div,
a,
h1,
h2,
h3,
ul,
li {
	border-width: 0;
	border-color: #d5d8db;
	border-style: solid;
}



/*Typo*/
h1,
h2,
h3 {
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 600;
	color: #80d4a9;
}

h1 em,
h2 em,
h3 em {
	text-transform: none;
	font-style: inherit;
}

h2,
h3 {
	margin-top: 12%;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.6em;
	padding-top: 12%;
	border-top-width: 1px;
}

h3 {
	font-size: 1.2em;
}
@media screen and (min-width: 30em) {
	h1 {
		font-size: 3em;
	}
	h1,
	h2 {
		text-align: center;
	}
}
@media screen and (min-width: 70em) {
	h1 {
		font-size: 4em;
	}
}
@media screen and (min-width: 40em) {
	h2,
	h3 {
		margin-top: 8%;
	}
	h2 {
		padding-top: 8%;
	}
}

a {
	display: inline-block;
	color: #11b7d4;
	text-decoration: none;
	border-bottom: 1px dashed rgba(57, 159, 177, 0.3);

	-webkit-transition: border-color 150ms, color 150ms;
	-moz-transition: border-color 150ms, color 150ms;
	-ms-transition: border-color 150ms, color 150ms;
	transition: border-color 150ms, color 150ms;
}
	a:focus,
	a:hover {
		color: #1791a6;
		border-bottom-color: #1791a6;
	}

.center {
	text-align: center;
}

.zigzag {
	display: block;
	clear: both;
	width: 100%;
	height: 1em;
	border-top-width: 1em;
	border-color: #80d4a9;

	background:
		linear-gradient(135deg, #80d4a9 25%, transparent 25%) 1em 0,
		linear-gradient(225deg, #80d4a9 25%, transparent 25%) 1em 0;
	background-size: 2em 2em;
	background-position: 50% 0;
}
	.zigzag.reverse {
		border-top-width: 0;
		border-bottom-width: 1em;
		background:
			linear-gradient(315deg, #80d4a9 25%, transparent 25%),
			linear-gradient(45deg, #80d4a9 25%, transparent 25%);
		background-size: 2em 2em;
		background-position: 50% -1em;
	}

/*Layout*/
@media screen and (max-width: 30em) {
	.extra {
		display: none;
	}
}
.half {
	float: left;
	clear: none;
	width: 48%;
}
.half + .half {
	margin-left: 4%;
}
.clear {
	clear: both;
}
@media screen and (min-width: 46em) {
	pre,
	.pull {
		margin-left: -2em;
		margin-right: -2em;
	}
	h2 {
		margin-left: -1.25em;
		margin-right: -1.25em;
		padding-left: 1.25em;
		padding-right: 1.25em;
	}
}
@media screen and (min-width: 54em) {
	pre,
	.pull {
		margin-left: -6em;
		margin-right: -6em;
	}
	h2 {
		margin-left: -3.75em;
		margin-right: -3.75em;
		padding-left: 3.75em;
		padding-right: 3.75em;
	}
}



/*Code*/
pre {
	font-family: inherit;
	overflow: auto;
	max-height: 16em;
	border-radius: 3px;
	font-size: inherit;
	tab-size: 4;
}
code {
	background-color: #f0f1f2;
	color: #555;
}
.hljs,
code {
	display: inline-block;
	border-radius: 3px;
	padding-left: 0.3em;
	padding-right: 0.3em;
}
.hljs,
pre code {
	display: block;
	padding: 1em;
	overflow: auto;
}
pre code {
	border-radius: 0;
}
@media screen and (min-width: 54em) {
	.hljs,
	pre code {
		padding: 1.5em 2em;
	}
}



/*Readme adjustments*/
.readme > h2:last-of-type,
.readme > p:last-of-type {
	display: none;
}

/*Demo containers*/
.container {
	padding: 20px;
	display: block;
	font-weight: bold;
	border-radius: 3px;
}
.container .container {
	border-width: 2px;
	border-color: #fff;
}
@media screen and (min-width: 480px) {
	.container {
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media screen and (min-height: 640px) {
	.container {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.container p {
	margin-top: 0;
	margin-bottom: 0;
}
.container p + p {
	margin-top: 2.4em;
}

/*Background patterns*/
.container,
.container .container .container {
	background-color: #b7e6cf;
	background-image: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 20px,
		#c4f1da 20px,
		#c4f1da 40px
	);
}

.container .container,
.container .container .container .container {
	color: #fff;
	background-color: #393d42;
	background-image: repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 40px,
		#434950 40px,
		#434950 80px
	);
}
.container .container .container {
	background-color: #d8f5e6;
}
.container .container .container .container {
	background-color: #51575e;
}



/*Container heights*/
.height-1,
.height-2,
.height-3,
.height-4 {
	overflow-y: auto;
}
.height-1 {
	height: 150px;
}

.height-2 {
	height: 200px;
}

.height-3 {
	height: 250px;
}

.height-4 {
	height: 300px;
}



/*Demo form*/
.dummyform {
	border-width: 1px;
	border-radius: 3px;
	padding: 0.5em 1.5em;
}
.dummyform-content {
	position: relative;
}
.dummyform ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;

	position: absolute;
	left: 0;
	width: 20em;
	max-width: 100%;
	max-height: 8em;
	overflow: auto;

	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 3px 1px rgba(40, 43, 46, 0.25);
}
.dummyform ul a {
	display: block;
	padding: 0.5em 0.7em 0.4em 0.7em;
	border-bottom: 1px solid #e1e3e5;
}
	.dummyform ul a:focus,
	.dummyform ul a:hover {
		background-color: rgba(40, 43, 46, 0.03);
	}
	.dummyform ul li:last-of-type a {
		border-bottom-width: 0;
	}



/*Demo modal*/
.modal {
	position: fixed;
	z-index: 10;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
	.modal.closed {
		display: none;
	}
.modal-overlay-close {
	position: fixed;
	z-index: 15;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
}
.modal-content {
	position: fixed;
	z-index: 20;
	overflow: auto;
	box-sizing: border-box;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 30em;
	max-height: 90%;
	background-color: #fff;
	border-radius: 3px;
	padding: 0.5em 1em;
	box-shadow: 0 1px 2px rgba(40, 43, 46, 0.25);
	cursor: default;
}
@media screen and (min-height: 40em) {
	.modal-content {
		top: 10%;
		max-height: 80%;
	}
}
@media screen and (min-width: 40em) {
	.modal-content {
		left: 10%;
		width: 80%;
		padding: 1.5em 2em;
	}
}
@media screen and (min-width: 70em) {
	.modal-content {
		left: 20%;
		width: 60%;
	}
}
@media screen and (min-width: 100em) {
	.modal-content {
		left: 30%;
		width: 40%;
	}
}



/*Wrapup*/
.footer {
	margin-left: auto;
	margin-right: auto;
	line-height: 1;
}
.footer a {
	border-bottom-width: 0;
}
.footer img {
	display: inline-block;
	max-width: 100%;
	max-height: 3em;
	border-radius: 4em;
	vertical-align: middle;
}
.footer ul {
	padding-left: 0;
	list-style: none;
}
.footer li:nth-of-type(2n) {
	line-height: 3em;
}
	.footer li {
		box-sizing: border-box;
		display: inline-block;
		width: 20%;
	}
	.footer li:first-of-type {
		padding-right: 0.5em;
		text-align: right;
	}
	.footer li:last-of-type {
		padding-left: 0.5em;
		text-align: left;
	}
	.footer li:first-of-type,
	.footer li:last-of-type {
		padding-top: 0.5em;
		width: 40%;
	}
	.footer li:first-of-type a,
	.footer li:last-of-type a {
		padding: 0.5em;
	}
	@media screen and (min-width: 30em) {
		.footer img {
			max-height: 4em;
		}
		.footer li:nth-of-type(2n) {
			line-height: 4em;
		}
		.footer li:first-of-type,
		.footer li:last-of-type {
			padding-top: 1em;
		}
	}
